body {
    background-color: ghostwhite;
}

.card {
    width: 150px;
    height: 180px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    background-color: rgb(243, 247, 247);
    box-shadow: 3px 3px 5px lightgray;
    /* margin: auto; */
    /* border: 1px solid red; */
}

.card:hover {
    width: 153px;
    height: 183px;
}

.image-container {
    height: 85%;
    /* background-color: gray; */
    border-radius: 7px;
}

.caption {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

img {
    width: 100%;
    height: 80%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px
}

.grid {
    align-items: center;
    justify-items: center;
    display: grid;
    column-gap: 5px;
    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    width: 600px;
    height: 600px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}